<!-- 수정해야할 부분 -->
{% load staticfiles %}
<!-- 수정해야할 부분 -->
<!DOCTYPE html>
<html>
<title>COLOR LOG</title>
<head>
  <script src="/static/js/jquery-1.9.1.min.js"></script> 
  
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/css/w3_style.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <style>

  </style>

</head>




<body class="w3-content w3-black">
    <header id="header" class="skel-layers-fixed">
				<h1><a class="main_logo" href=""><img src="/static/img/logo.png"></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="">메뉴1</a></li>
						<li><a href="">메뉴2</a></li>
						<li><a href="">메뉴3</a></li>
                        <li><a href="">메뉴4</a></li>
            
          </ul>
          
				</nav>
			</header>


<!-- 슬라이드쇼 부분-->
<header class="w3-display-container w3-center">
  <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" onclick="document.getElementById('download').style.display='block'">Download</button>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="/static/img/sample1.jpg" alt="Image 1" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xxxlarge"><b style="color:#f44336;">COLOR LOG</b>   </h1>
        <hr class="w3-opacity">
        <p>당신만의 색으로 여행을 기록하세요</p>
        <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('login').style.display='block'">로그인</button>  </button></p>
        <p><button class="w3-button w3-block w3-blue w3-round" onclick="document.getElementById('sign_up').style.display='block'">회원가입 </button></p>
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="img/sample2.jpg" alt="Image 2" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xxxlarge"><b style="color:#64c3cf">COLOR LOG</b></h1>
        <hr class="w3-opacity">
        <p>당신만의 사진을 기록하세요</p>
        <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('login').style.display='block'">로그인</button>  </button></p>
        <p><button class="w3-button w3-block w3-blue w3-round" onclick="document.getElementById('sign_up').style.display='block'">회원가입 </button></p>
      </div>
    </div>
  </div>
  <div class="mySlides w3-animate-opacity">
    <img class="w3-image" src="img/sample3.jpg" alt="Image 3" style="min-width:500px" width="1500" height="1000">
    <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
      <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
        <h1 class="w3-xxxlarge"><b style="color:#516ce4">COLOR LOG</b></h1>
        <hr class="w3-opacity">
        <p>당신만의 지도를 완성하세요</p>
        <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('login').style.display='block'">로그인</button>  </button></p>
        <p><button class="w3-button w3-block w3-blue w3-round" onclick="document.getElementById('sign_up').style.display='block'">회원가입 </button></p>
      </div>
    </div>
  </div>
  <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" onclick="plusDivs(1)"><i class="fa fa-angle-right"></i></a>
  <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" onclick="plusDivs(1)">Take Tour <i class="fa fa-angle-right"></i></a>
</header>

<!-- 텍스트 소개 부분 -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>지도</b></h1>
      <h1 class="w3-xxxlarge w3-text-green"><b>CUSTOMIZE</b></h1>
      <p><span class="w3-xlarge">ABC.</span> 지도 색칠 가능~~ 내용은 이후 추가</p>

      </button>
      
    </div>
    <div class="w3-col l4 m6">
      <img src="/static/img/2.png" class="w3-image w3-right w3-hide-small" width="728" height="1024">
      <div class="w3-center w3-hide-large w3-hide-medium">

        <img src="/static/img/2.png" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div>

<!-- 팝업 부분 -->
<div id="login" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('login').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="modal_title">LOGIN</h2>
      <p>로그인 ~~~</p>
      <p> <input class="w3-input w3-border" type="text" placeholder="ID"> </p>
      <p> <input class="w3-input w3-border" type="password" placeholder="Password"></p>
      <button type="button"  class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="location.href='main/' ">LOGIN</button>
    </div>
  </div>
</div>

<div id="sign_up" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('sign_up').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="modal_title">SIGN-UP</h2>
      <p>회원가입 ~~~~</p>
      <p> <input class="w3-input w3-border" type="text" placeholder="ID"> </p>
      <p class="description"> 아이디는 영문으로 6자~15자까지 가능합니다</p>
      <p> <input class="w3-input w3-border" type="text" placeholder="닉네임"> </p>
      <p class="description"> Color Log에서 사용할 닉네임을 적어주세요</p>
      <p> <input class="w3-input w3-border" type="password" placeholder="Password"></p>
      <p class="description"> 비밀번호는 최소 6자 최대 20자 까지 가능합니다</p>
      <p> <input class="w3-input w3-border" type="password" placeholder="Password REPEAT"></p>
      <p class="description"> 비밀번호를 한 번 더 확인해주세요</p>

      <button type="button" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('sign_up').style.display='none'">SIGN UP</button>
    </div>
  </div>
</div>

<!-- 텍스트 소개 부분2 -->
<div class="w3-padding-64 w3-light-grey">
  <div class="w3-row-padding">
    <div class="w3-col l4 m6">
      <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="img/2.png" alt="App" width="335" height="471">
    </div>
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>색</b></h1>
      <h1 class="w3-xxxlarge w3-text-red"><b>PICK YOUR COLOR</b></h1>
      <p><span class="w3-xlarge">서비스에 대한 상세 설명~~</span>  옆에는 서비스 이용 사진과 함께 같이 첨부 ~~</p>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-white w3-center w3-xlarge">
  <div class="w3-section">
    <p> footer 위치</p>
  </div>
</footer>

<script>
// 슬라이드쇼 전용
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>
