<!DOCTYPE html>
<html>
<title>COLOR LOG</title>
<head>
  <script src="/static/js/jquery-1.9.1.min.js"></script> 
  <script src="/static/js/fullpage.js"></script>
  <script src = "/static/js/jquery.color-2.1.2.min.js"></script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/static/css/w3_style.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/style2.css" type="text/css">
  <link rel="stylesheet" href="/static/css/fullpage.css" type="text/css">
  

  <style>

  </style>

</head>


<body>
							
							{% if perfect %}
								<div id="perfect" title="회원가입 성공">
                                    
                                    
                                    <script>
                                        alert('회원가입이 성공적으로 완료되었습니다.')
                                    </script>

								</div>
							{% elif id_error or id_duplication or pw_error or pwcheck_error or email_error %}
								<div id="perf" title="회원가입 에러">
                                    <script>
                                        alert('회원가입 중 오류가 발생했습니다. 다시 한번 시도해주세요.')
                                    </script>

								</div>

    
							{% endif %}
							
							{% if login_error %}
								<div id="login_error" title="LOGIN ERROR">
                                    <script>
                                        alert('아이디 또는 비밀번호가 올바르지 않습니다')
                                    </script>
	
								</div>
							{% endif %}




    <div id="fullpage">
        <div class="section" style= "width: 100vw; height:100vh;">
      
            <div class="page-wrapper">
                <h1 class="title" style="color:white" >COLOR LOG</h1>
                <a class="btn trigger" href="#">LOGIN</a>
                <a class="btn_2 trigger_2" href="#">SIGN UP</a>
            </div>

            <div class="modal-wrapper">
                    <div class="modal">
                    <div class="head">
                        <a class="btn-close trigger" href="#">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>



                    <div class="content">

                        <h2 class="login_title">LOGIN</h2>

						<form method="POST" action="{%url 'login'%}">
							<!-- {% csrf_token %} 는 보안토큰, post랑 같이 보안을 위해 사용 -->
							{% csrf_token %}
							<p> <input name="id" class="w3-input w3-border" type="text" placeholder="ID" required> </p>
                        	<p> <input name="pw" class="w3-input w3-border" type="password" placeholder="Password" required></p>
							<input type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" value="LOGIN">
							<!-- onclick="location.href='main/' -->
						</form>
                         
                    </div>
                    </div>
            </div>



            <div class="modal-wrapper_2">
                    <div class="modal_2">
                        <div class="head">
                            <a class="btn-close trigger_2" href="#">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </div>
        
        
        
                        <div class="content">
        

                                        
                                        <h2 class="modal_title">SIGN-UP</h2>
                                       
										<form method="POST" action="{%url 'signup'%}">
											<!-- {% csrf_token %} 는 보안토큰, post랑 같이 보안을 위해 사용 -->
											{% csrf_token %}
											<p> <input name="id" class="w3-input w3-border" type="text" placeholder="ID" required> </p>
											{% if id_error %}
                                                <p  class="description"> 아이디는 영문 및 숫자로 6자~15자까지 가능합니다.</p>
                                            <script>
                                                alert('아이디는 영문 및 숫자로 6자~15자까지 가능합니다.')
                                            </script>

                                            
											{% elif id_duplication %}
                                            <p class="description"> 아이디는 영문 및 숫자로 6자~15자까지 가능합니다.</p>
                                            <script>
                                                alert('현재 사용하고 있는 아이디입니다.')
                                            </script>

											{% else %}
												<p class="description"> 아이디는 영문 및 숫자로 6자~15자까지 가능합니다.</p>
											{% endif %}
											
                                            <p> <input name="email" class="w3-input w3-border" type="text" placeholder="EMAIL" required> </p>
                                        	{% if email_error %}
                                            <p class="description"> 아이디 및 패스워드 분실시 사용할 이메일을 적어주세요.</p>
                                             <script>
                                                alert('이메일을 다시 확인해주세요.')
                                            </script>


											{% else %}
												<p class="description"> 아이디 및 패스워드 분실시 사용할 이메일을 적어주세요.</p>
											{% endif %}
											
                                        	<p> <input name="nickname" class="w3-input w3-border" type="text" placeholder="닉네임" required> </p>
											{% if nickname_error %}
                                            <p class="description"> Color Log에서 사용할 닉네임을 적어주세요.</p>
                                            <script>
                                                alert('닉네임을 다시 확인해주세요.')
                                            </script>

											{% else %}
												<p class="description"> Color Log에서 사용할 닉네임을 적어주세요.</p>
											{% endif %}
											
                                        	<p> <input name="pw" class="w3-input w3-border" type="password" placeholder="Password" required></p>
											{% if pw_error %}
                                            <p class="description"> 비밀번호는 최소 6자 최대 20자 까지 가능합니다.</p>
                                             <script>
                                                alert('비밀번호는 최소 6자 최대 20자 까지 가능합니다.')
                                            </script>

											{% else %}
												<p class="description"> 비밀번호는 최소 6자 최대 20자 까지 가능합니다.</p>
											{% endif %}
											
                                        	<p> <input name="pw_check" class="w3-input w3-border" type="password" placeholder="Password REPEAT" required></p>
											{% if pwcheck_error %}
                                            <p class="description"> 비밀번호를 한 번 더 확인해주세요</p>
                                            
                                             <script>
                                                alert('비밀번호와 일치하지 않습니다.')
                                            </script>

											{% else %}
                                        		<p class="description"> 비밀번호를 한 번 더 확인해주세요</p>
											{% endif %}
                                        	<input type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" value="SIGN UP"> 
											<!-- onclick="document.getElementById('sign_up').style.display='none'" -->
										</form>
							
                                        

                        </div>
                    </div>
            </div>
        </div>




        
        
        <div class="section" style="background: #EECDBE; width: 100vw; height:100vh;">

            <div class = "slide" >
                    <img src="/static/img/slide_1.JPG" id="bg" alt="">
            </div>



            <div class = "slide" > 
                    <img src="/static/img/slide_2.JPG" id="bg" alt="">

            </div>

            <div class = "slide" >
                    <img src="/static/img/slide_3.JPG" id="bg" alt="">

            </div>


        
        
        
        
        </div>



    </div>




</body>










<script>

        $(document).ready(function() {
            $('#fullpage').fullpage({
                //options here
                licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
                autoScrolling:true,
                scrollHorizontally: true,
                navigation:true,
                navigationPosition:'right',
                sectionsColor: ['#ef5285','#EECDBE','#feee7d']
            });




            $('.trigger').on('click', function() {
            $('.modal-wrapper').toggleClass('open');
            $('.page-wrapper').toggleClass('blur-it');
            return false;
            });



            $('.trigger_2').on('click', function() {
            $('.modal-wrapper_2').toggleClass('open');
            $('.page-wrapper').toggleClass('blur-it');
            return false;
            });


            

        });
        
        

        </script>